<div class="main-content">
    <div class="container-fluid">
        <div class="row">
         <div class="col-sm-6  col-sm-offset-3">
             <alert></alert>
          <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" >
                                <div class="card ">
                                    <div class="card-header text-center" data-background-color="red">
                                        <h4 class="card-title">Inscription</h4>
                                        <div class="social-line">
      
                                        </div>
                                    </div>

                                    <p class="category text-center">
                                       Complete your inscription
                                    </p>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <div class="form-group label-floating" >
                                                        <label class="control-label">Prenom</label>
                                                        <input type="text" class="form-control" name="prenom"  [(ngModel)]="model.prenom" [(ngModel)]="model2.prenom" #prenom="ngModel" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                       <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nom</label>
                                                        <input type="text" class="form-control" name="nom"  [(ngModel)]="model.nom" #nom="ngModel" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <div class="form-group label-floating" >
                                                        <label class="control-label">profession</label>
                                                        <input type="text" class="form-control" name="profession"  [(ngModel)]="model.profession" #profession="ngModel" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-earphone"></span>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Téléphone</label>
                                                        <input type="text" class="form-control" name="numTelephone"  [(ngModel)]="model.numTelephone" #numTelephone="ngModel" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">nom@exemple.com</label>
                                                    <input type="text" class="form-control" name="email"  [(ngModel)]="model.email" #email="ngModel" required>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="row">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Login</label>
                                                <input type="text" class="form-control" name="login"  [(ngModel)]="model.login" #login="ngModel" required>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required >
                                            </div>
                                        </div>
                                         </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-danger btn-simple btn-wd btn-lg" >S'inscrire</button>
                                        <a [routerLink]="['/login']" class="btn btn-link">Retour</a>
                                    </div>
                                </div>
                            </form>
                         </div>
                   </div>
		     </div>
         </div>
