<div class="main-content">
    <div class="container-fluid">
        <div class="row">
         <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                                <div class="card card-login card-hidden">
                                    <div class="card-header text-center" data-background-color="red">
                                        <h4 class="card-title">Inscription</h4>
                                        <div class="social-line">
      
                                        </div>
                                    </div>

                                    <p class="category text-center">
                                       Complete your inscription
                                    </p>
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                                <label class="control-label">Firstname</label>
                                                <input type="text" class="form-control" name="firstname"  [(ngModel)]="model.firstname" #firstname="ngModel" required>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Lastname</label>
                                                <input type="text" class="form-control" name="lastname"  [(ngModel)]="model.lastname" #lastname="ngModel" required>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Username</label>
                                                <input type="text" class="form-control" name="username"  [(ngModel)]="model.username" #username="ngModel" required>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-danger btn-simple btn-wd btn-lg" >Register</button>
                                        <a [routerLink]="['/login']" class="btn btn-link">Back</a>
                                    </div>
                                </div>
                            </form>
                         </div>
                   </div>
		     </div>
         </div>
