<div class="main-content" style="padding-top: 2cm">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <alert></alert>
                <form name="form" (ngSubmit)="f.form.valid && reset()" #f="ngForm" novalidate>
                    <div class="card card-login card-hidden">
                        <div class="card-header text-center" data-background-color="purple">
                            <h4 class="card-title">Mot De Passe Oublié</h4>

                        </div>

                        <p class="category text-center">

                        </p>
                        <div class="card-content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
                                    <label class="control-label">Email</label>
                                    <input type="email" class="form-control" name="mail" [(ngModel)]="model.mail" #mail="ngModel" required>
                                    <div *ngIf="f.submitted && !mail.valid" class="help-block">Email est requis</div>
                                </div>
                            </div>

                            
                        </div>
                        <div class="form-group footer text-center ">
                            <button type="submit" [disabled]="loading" class="btn btn-primary btn-round btn-wd ">Confirmer</button>
                            <button class="btn btn-primary btn-simple btn-wd " [routerLink]="['/login']">Retour</button>
                            <div class="center">
                                <app-loader [loading]="loading"></app-loader>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>