<!-- CSS Files Dashboard Utilisateur -->
<link href="/assets/css/material-dashboard-util.css" rel="stylesheet"/>
<link href="/assets/css/material-kit.css" rel="stylesheet"/>

<!-- ****************************************************************************** -->
<div class="profile-page">
     <div class="wrapper">
         <div class="header header-filter" style="background-image: url('./assets/img/faces/city3.jpg');"></div>
		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
<!-- ********************* Row *************************************************-->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Utilisateurs</p>
                            <h3 class="title">200</h3>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">place</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Pays</p>
                            <h3 class="title">248</h3>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">location_city</i>
                        </div>
                        <div class="card-content">
                            <p class="category">ville</p>
                            <h3 class="title">4800</h3>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                           <i class="material-icons">local_airport</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Aeroport</p>
                            <h3 class="title">500</h3>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
<!--*************************************************************************** -->

<!-- ********************* Row *************************************************-->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="purple">
                           <i class="material-icons">train</i>
                        </div>
                        <div class="card-content">
                            <p class="category">station de train</p>
                            <h3 class="title">300</h3>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>
            </div>

<!-- ********************************************************************  -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
              <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
            
              
						</div>
	                </div>
<!-- ********************************************************************  -->

	            </div>
	        </div>
		</div>

    </div>
</div>




