<!-- CSS Files Dashboard Utilisateur -->

<div style=" background-color:lavender;">
<div class="main-content" style="margin-top: 70px; margin-left: 200px;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8"  style="padding-top: 70px;">
            <div class="card" style="width: 1000px;">
                <div class="card-header"  style=" background: linear-gradient(60deg,  #1ab394, #e53935);" >
                    <h4 class="title">Ajout Annonce Vol</h4>
                    <p class="category">Compléter L' Annonce</p>
                </div>
                <div class="card-content">
                    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" >
                        <div class="row">
                            <div class="col-md-6">   
                                <div class="form-group form-black label-floating is-empty">
                                    <label> <span class="glyphicon glyphicon-calendar"></span> &nbsp; &nbsp;  Date Départ</label> <br>
                                    <input type="date" [(ngModel)]="model.dateDepart" value="Date Depart"name="dateDepart"  #dateDepart="ngModel" required>
                                </div>                        
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label> <span class="glyphicon glyphicon-time"></span> &nbsp; &nbsp; Heure Départ</label>
                                    <br>
                                    <input type="time"  [(ngModel)]="model.heureDepart" name="heureDepart"   #heureDepart="ngModel"  style="width: 150px; height: 30px;" required>
                                    
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label><i class="material-icons" style="font-size:20px; color:green;">place</i>Pays Départ</label>
                                    <br>
                                    <select class="selectpicker" [(ngModel)]="model.paysDepart"  (change)="onSelect1($event.target.value)"  name="paysDepart"   #paysDepart="ngModel" style="width: 200px; height: 30px;" required>
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label> <i class="material-icons" style="font-size:20px; color: green">place</i>Aeroport Départ</label>
                                    <br>
                                    <select [(ngModel)]="model.aeroportDepart" (input)="onInput($event)" name="aeroportDepart"   #aeroportDepart="ngModel" style="width: 200px; height: 30px;" required>
                                        <option value="0">Select Aeroport Depart</option>
                                        <option *ngFor="let aeroport of aeroports " value= {{aeroport.nom}}>{{aeroport.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                         <hr>
                         
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label> <i class="material-icons" style="font-size:20px;color: red;">place</i>Pays Arrivée</label>
                                    <br>
                                    <select [(ngModel)]="model.paysArrivee" (change)="onSelect2($event.target.value)"  name="paysDepart"   #paysDepart="ngModel" style="width: 200px; height: 30px;" required>
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label> <i class="material-icons" style="font-size:20px; color: red">place</i>Aeroport Arrivée</label>
                                    <br>
                                    <select [(ngModel)]="model.aeroportArrivee" (input)="onInput2($event)" name="villeArrivee"   #villeArrivee="ngModel" style="width: 200px; height: 30px;" required>
                                        <option  value="0">Select Aeroport Arrivee</option>
                                        <option *ngFor="let aeroport of aeroports2 " value= {{aeroport.nom}}>{{aeroport.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <h6>Description </h6>
                                    <textarea rows="4" cols="50" [(ngModel)]="model.description"  name="description"   #description="ngModel" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit"  style="background-color: #1ab394;" class="btn  pull-right">Publier Annonce</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>




