<!-- CSS Files Dashboard Utilisateur -->
<link href="/assets/css/material-kit.css" rel="stylesheet"/>

<!-- CSS Files AnnonceCovoi template -->

<!-- ***********************************-->
<div class="profile-page">
    <div class="wrapper">
		<div class="header header-filter" style="background-image: url('./assets/img/faces/city3.jpg');"></div>
            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
  

 <!-- ***************************** Row ********************************************* --> 
 <!-- ***************************** Row ********************************************* --> 
 					<form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>                      
 						<div class="row" style="border: 1px solid lavender; background-color:lavender; margin-top: 50px; ">
							<div class="row" style="padding: 5px 30px 0px 80px;">
								<div class="col-sm-4">
									<div class="form-group form-black label-floating is-empty">
										<label> <i class="material-icons" style="font-size:25px;">place</i> &nbsp; Pays Départ</label>
										<br>
										<select class="selectpicker" [(ngModel)]="model.paysDepart"  (change)="onSelect1($event.target.value)"  name="paysDepart"   #paysDepart="ngModel" style="width: 200px; height: 30px;">
											<option  value="0"></option>
											<option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
										</select> 
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group form-black label-floating is-empty">
										<label> <i class="material-icons" style="font-size:25px;">place</i> &nbsp;Aeroport Départ</label>
										<br>
										<select [(ngModel)]="model.aeroportDepart"   name="aeroportDepart"   #aeroportDepart="ngModel" style="width: 200px; height: 30px;">
											<option value="0"></option>
											<option *ngFor="let aeroport of aeroports " value= {{aeroport.nom}}>{{aeroport.nom}}</option>
										</select> 
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group form-black label-floating is-empty">
										<label>  <span class="glyphicon glyphicon-calendar"></span> &nbsp;Date de Départ</label>
										<br>
										<input type="date" [(ngModel)]="model.dateDepart"   name="dateDepart"   #dateDepart="ngModel" style="width: 200px; height: 30px;">

									</div>
								</div>
								
							</div>
                         <hr>
                         
                        <div class="row"  style="padding: 0px 30px 0px 80px;">
                            <div class="col-sm-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label><i class="material-icons" style="font-size:25px;">place</i> &nbsp; Pays Arrivée</label>
                                    <br>
                                    <select [(ngModel)]="model.paysArrivee" (change)="onSelect2($event.target.value)"  name="paysArrivee"   #paysDepart="ngModel" style="width: 200px; height: 30px;">
                                        <option value="0"></option>
                                        <option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label> <i class="material-icons" style="font-size:25px;">place</i> &nbsp;Aeroport Arrivée</label>
                                    <br>
                                    <select [(ngModel)]="model.aeroportArrivee"  name="aeroportArrivee"   #aeroportArrivee="ngModel" style="width: 200px; height: 30px;">
                                        <option  value="0"></option>
                                        <option *ngFor="let aeroport of aeroports2" value= {{aeroport.nom}}>{{aeroport.nom}}</option>
                                    </select> 
                                </div>
                            </div>
							<div class="col-sm-4">
										<button style="margin-right: 150px; margin-top: 50px;" (click)="onSubmit()" class="btn btn-success pull-right">chercher Annonce</button>
                            </div>
                        </div>								


						 </div>
 					</form>

<div class="body1">
<!-- ***************************Row*********************************************** -->
	<div class="row" *ngFor="let annonceVol of annoncesVol | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; let i = index">
        <div class="col-md-4 col-sm-6">
            <div class="card-container1 manual-flip">
                <div class="card1">
                    <div class="front">
                        <div class="content">
                            <div class="main">
								<div class="row" >
								  <div class="col-sm-3 col-md-6 col-lg-4 block1">
                                    <a href="#" [routerLink]="['/dashboardutil/publicProfile', annonceVol.utilisateur.idUtilisateur]" name="Profil" style="color: #506A85;">
                                        <div class="user">
                                            <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                                        </div>
										<h3 class="name">{{annonceVol.utilisateur.login}}</h3>
										<p class="profession">{{annonceVol.utilisateur.profession}} </p>
                                    </a>
								  </div>
								  <div class="col-sm-9 col-md-6 col-lg-8 block2">
										<h3 class="date"> <span class="glyphicon glyphicon-calendar"></span> {{annonceVol.dateDepart}}<span class="block21">  <span class="glyphicon glyphicon-time"></span> &nbsp; {{annonceVol.heureDepart}} </span> </h3>
                                        <br>
										<p class="adresse">
											<span class="adresseDepart">{{annonceVol.paysDepart}},{{annonceVol.aeroportDepart}}</span>
											<span class="glyphicon glyphicon-arrow-right" ></span>
											<span class="adresseArrivee">{{annonceVol.paysArrivee}},{{annonceVol.aeroportArrivee}}</span>
											 <span class="glyphicon glyphicon-plane"></span> 
										</p>
								  </div>
								</div>
                            </div>
                            <div class="footer">
								<button class="btn btn-simple" style=" width:50px;" (click)="getCommentairesByAnnonce(annonceVol.id)"  >
                                    <i class="material-icons" style="color:#1ab394;">comment</i> &nbsp;&nbsp;<a style="color: gray" >Commentaires </a>
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-simple" >
                                    <i class="fa fa-mail-forward" style="color:#1ab394 "></i> &nbsp;&nbsp;<a style="color:gray " [routerLink]="['/dashboardutil/AnnonceVolDetail', annonceVol.id]">Les détails </a>
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
			<div class="container" style="width: 950px; " *ngIf="idAnnonceVol==annonceVol.id">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-footer">
				 <form #myForm="ngForm" (ngSubmit)="addCommentaire()">
                <div class="input-group"> 
					<input class="form-control" placeholder="Ajouter commentaire" type="text"  [(ngModel)]="model.text" name="text"   #text="ngModel"  required>
                    <span class="input-group-addon">
                        <a > <i class="material-icons" style="color:#1ab394;">comment</i><button type="submit" style="height: 40px;"> Commenter</button> </a>  
                    </span>
					
                </div>
				 </form>
                <ul class="comments-list" *ngFor="let commentaire of commentaires">
					
                    <li class="comment">
                        <a class="pull-left" href="#">
                           <img class="avatar" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">{{commentaire.author.prenom}}</h4>
                                <h5 class="time">{{commentaire.date}}</h5>
                            </div>
							<div class="row">
								<div class="col-md-6">
									<p style="display: inline-block;">{{commentaire.text}}</p>
								</div>
								<div class="col-md-6" *ngIf="id==annonceVol.utilisateur.idUtilisateur || commentaire.author.idUtilisateur==id">
									<button style="display: inline-block; margin-left: 200px;" type="button" rel="tooltip" title="Supprimer Commentaire" class="btn btn-danger btn-simple btn-xs" data-toggle="modal" data-target="#myModal" (click)="onClick(commentaire)">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        </div> <!-- end col sm 3 -->
	</div>
	    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Suppression Commentaire</h4>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer ce comentaire ?</p>
      </div>
      <div class="modal-footer">
        <button (click)="supprimerCommentaire()" type="button" class="btn btn-success" data-dismiss="modal" >Oui</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>
    </div>

  </div>
</div>

<pagination-controls class=" pull-right" (pageChange)="page = $event" id="1" maxSize="3" directionLinks="true" autoHide="true">
</pagination-controls>

<!-- ************************************************************************** -->
        </div>
		

    </div>
</div>
</div>
</div>	
</div>

