
    <!-- Page Content -->
    <div class="container" style="background-color: white; margin-top: 100px;">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8" style="margin-top: 35px;">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <!-- /.col-md-8 -->
        <div class="col-md-4" style="height: 150px;">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">{{utilisateur.login}}</h6>
                    <h4 class="card-title"> {{utilisateur.nom}} </h4>
                    <p>23 Ans </p>
                    <p class="card-content">
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['/dashboardutil/publicProfile', utilisateur.idUtilisateur]">View More Profile</a>
                </div>
            </div>
        </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    
        <!-- /.row -->
                <!-- Content Row -->
        <div class="row " style="margin-top: 60px; margin-left: 20px;">
                <hr>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Départ </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p ><i class="material-icons" style="font-size:20px;">place</i> {{annonceTrain.paysDepart}},{{annonceTrain.stationTrainDepart}} </p>
                </div>
                <!-- ************  -->
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Heure Départ </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p ><span class="glyphicon glyphicon-time" style="font-size:20px;"></span> &nbsp;&nbsp; {{annonceTrain.heureDepart}} </p>
                </div>
                <!-- ************  -->
        </div>
        <!-- /.row -->
                        <!-- Content Row -->
        <div class="row " style="margin-top: 5px;margin-left: 20px;">

                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Arrivée </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p > <i class="material-icons" style="font-size:20px;">place</i> {{annonceTrain.paysArrivee}}, {{annonceTrain.stationTrainArrivee}}  </p>
                </div>
                <!-- ************  -->
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Date Départ  </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p ><span class="glyphicon glyphicon-calendar" style="font-size:20px;"></span> &nbsp; {{annonceTrain.dateDepart}}  </p>
                </div>
                <!-- ************  -->
        </div>
        <!-- /.row -->
                        <!-- Content Row -->
        <div class="row " style="margin-top: 15px; margin-left: 20px;">
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid dodgerblue;
                         padding: 10px 10px 10px 50px; height: 70px;">
                        <p> Description </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 0px;">                     
                </div>
                <!-- ************  -->

        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row " style="margin-top: 5px; margin-left: 20px;">
            <div class="text-center" *ngIf="currentUserId!=utilisateur.idUtilisateur">
		        <button class="btn btn-round " style="background-color:dodgerblue"><span class="glyphicon glyphicon-envelope"></span> Contacter </button>
            </div>
            <div class="text-center" *ngIf="">
		        <button class="btn btn-round " style="background-color:dodgerblue">Modifier</button>
                <button class="btn btn-round" style="background-color:dodgerblue" > Supprimer </button>
            </div>
        </div>
        <!-- /.row -->




    </div>
