<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" [routerLink]="['/login']">Traveling Together</a>
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
				<li class="active"><a [routerLink]="['/AnnonceCovoi']">Annonces Covoiturage</a></li>
        		<li><a href="#">Annonces Vol</a></li>
                <li><a href="#">Annonces Train</a></li>
        		<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  <li><a href="#">Mon Profile</a></li>
                      <li class="divider"></li>
					  <li><a href="#">Mes Annonces Covoiturage </a></li>
					  <li><a href="#">Mes Annonces Vol</a></li>
                      <li><a href="#">Mes Annonces Train</a></li>
					  <li class="divider"></li>
				      <li><a href="#">Setting</a></li>
        			</ul>
        		</li>
    		</ul>
    	</div>
	</div>
                   
</nav>
    <div>
    <img  width="1000" height="400" src="./assets/img/faces/covoiturage.jpg" />
    </div>

	  