<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Liste Des Utilisateurs</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.nom}}</td>
                                    <td>{{user.prenom}}</td>
                                    <td>{{user.email}}</td>
                                    <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="plus d'info" class="btn btn-info btn-simple btn-xs" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button type="button" rel="tooltip" title="bloquer utilisateur" class="btn btn-danger btn-simple btn-xs" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-lock"></i>
                </button>
                <button type="button" rel="tooltip" title="debloquer utilisateur" class="btn btn-success btn-simple btn-xs" data-toggle="modal" data-target="#myModal3">
                    <i class="fa fa-unlock"></i>
                </button>
            </td>
                                    
                                </tr>
                            
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

           
        </div>

        <!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
        
        
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
   
  <!--                        -->

         <!-- Modal Core -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bloquer cet utilisateur?</h4>
      </div>
      <div class="modal-body">
        
         
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>

  <!--                        -->
        <!-- Modal Core -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Débloquer cet utilisateur?</h4>
      </div>
      <div class="modal-body">
        
        
      
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>

    </div>
</div>
