<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Liste Des Utilisateurs</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="plus d'info" class="btn btn-info btn-simple btn-xs" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button type="button" rel="tooltip" title="bloquer utilisateur" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-lock"></i>
                </button>
                <button type="button" rel="tooltip" title="debloquer utilisateur" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-unlock"></i>
                </button>
            </td>
                                    
                                </tr>
                                <tr>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                   <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="plus d'info" class="btn btn-info btn-simple btn-xs">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button type="button" rel="tooltip" title="bloquer utilisateur" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-lock"></i>
                </button>
                <button type="button" rel="tooltip" title="debloquer utilisateur" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-unlock"></i>
                </button>
            </td>
                                </tr>
                                <tr>
                                    <td>Sage Rodriguez</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                    <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="plus d'info" class="btn btn-info btn-simple btn-xs">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button type="button" rel="tooltip" title="bloquer utilisateur" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-lock"></i>
                </button>
                <button type="button" rel="tooltip" title="debloquer utilisateur" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-unlock"></i>
                </button>
            </td>
                                </tr>
                                <tr>
                                    <td>Philip Chaney</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                    <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="plus d'info" class="btn btn-info btn-simple btn-xs">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button type="button" rel="tooltip" title="bloquer utilisateur" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-lock"></i>
                </button>
                <button type="button" rel="tooltip" title="debloquer utilisateur" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-unlock"></i>
                </button>
            </td>
                                </tr>
    
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>

