<!-- CSS Files Dashboard Utilisateur -->
<link href="/assets/css/material-kit.css" rel="stylesheet"/>

<!-- CSS Files AnnonceCovoi template -->

<!-- ***********************************-->
<div class="profile-page">
    <div class="wrapper">
		<div class="header header-filter" style="background-image: url('./assets/img/faces/city3.jpg');"></div>
            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
  

 <!-- ***************************** Row ********************************************* --> 


<div class="body1">
<!-- ***************************Row*********************************************** -->
	<div class="row" *ngFor="let annonceTrain of mesAnnoncesTrain | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; let i = index">
        <div class="col-md-4 col-sm-6">
            <div class="card-container1 manual-flip">
                <div class="card1">
                    <div class="front">
                        <div class="content">
                            <div class="main">
								<div class="row" >
								  <div class="col-sm-3 col-md-6 col-lg-4 block1">
                                        <div class="user">
                                            <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                                        </div>
										<h3 class="name"></h3>
										<p class="profession"> </p>
										<p class="age"></p>
										<p class="score">
											<span class="glyphicon glyphicon-star-empty icon">
											</span>
											<span class="glyphicon glyphicon-star-empty">
											</span>
										</p>
								  </div>
								  <div class="col-sm-9 col-md-6 col-lg-8 block2">
										<h3 class="date"> <span class="glyphicon glyphicon-calendar"></span> {{annonceTrain.dateDepart}}<span class="block21">  <span class="glyphicon glyphicon-time"></span>{{annonceTrain.heureDepart}} </span> </h3>
										<p class="adresse">
											<span class="adresseDepart">{{annonceTrain.paysDepart}},{{annonceTrain.stationTrainDepart}}</span>
											<span class="glyphicon glyphicon-arrow-right" ></span>
											<span class="adresseArrivee">{{annonceTrain.paysArrivee}},{{annonceTrain.stationTrainArrivee}}</span>
											 <span class="glyphicon glyphicon-plane"></span> 
										</p>
								  </div>
								</div>
                            </div>
                            <div class="footer">
                                <span style="margin-left: 200px;">
                                    <button class="btn btn-simple" >
                                        <i class="fa fa-mail-forward"></i> &nbsp;&nbsp;<a [routerLink]="['/dashboardutil/detail', annonceTrain.id]">Show Detail </a>
                                    </button>
                                </span>
                                 <span style="margin-left: 100px;">
                                    <button type="button" rel="tooltip" title="Edit Annonce" class="btn btn-success btn-simple btn-xs" data-toggle="modal" data-target="#myModal1" (click)="onClick(annonceVol)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </span>
                                <span>
                                    <button type="button" rel="tooltip" title="Supprimer Annonce" class="btn btn-danger btn-simple btn-xs" data-toggle="modal" data-target="#myModal2" (click)="onClick(annonceVol)">
                                            <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
	</div>
             <!-- Affichage du Modal-->
                            <!-- Modal1 -->
                            <div class="modal fade" id="myModal1" role="dialog">
                                <div class="modal-dialog modal-lg">
                                
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modifier Annonce de Covoiturage</h4>
                                    </div>
                                    <div class="modal-body">
                                         
                                            <div class="row">
                                                <div class="col-md-6">   
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Date Départ</label><br>
                                                        <input [(ngModel)]="model.dateDepart" value="Date Depart"name="dateDepart" required>         
                                                    </div>                        
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Heure Départ</label>
                                                        <br>
                                                        <input type="time" [(ngModel)]="model.heureDepart" name="heureDepart"   #heureDepart="ngModel"  style="width: 150px; height: 30px;" >
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Pays Départ</label>
                                                        <br>
                                                        <select class="selectpicker" [(ngModel)]="model.paysDepart"  (change)="onSelect1($event.target.value)"  name="paysDepart"   #paysDepart="ngModel" style="width: 200px; height: 30px;" (click)="changePaysDepart()">
                                                            <option value="0">--Select--</option>  
                                                            <option value= {{model.paysDepart}} *ngIf="testPaysDepart===false">{{model.paysDepart}}</option>
                                                            <option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
                                                        </select> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Aeroport Départ</label>
                                                        <br>
                                                        <select [(ngModel)]="model.aeroportDepart"  name="aeroportDepart"   #aeroportDepart="ngModel" style="width: 200px; height: 30px;" (click)="changeAeroportDepart()">
                                                            <option value="0">Select Aeroport Depart</option>
                                                             <option value= {{model.aeroportDepart}} *ngIf="testAeroportDepart===false">{{model.aeroportDepart}}</option>
                                                            <option *ngFor="let aeroport of aeroports " value= {{aeroport.nom}}>{{aeroport.nom}}</option>
                                                        </select> 
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Pays Arrivée</label>
                                                        <br>
                                                        <select [(ngModel)]="model.paysArrivee" (change)="onSelect2($event.target.value)"  name="paysArrivee"   #paysArrivee="ngModel" style="width: 200px; height: 30px;" (click)="changePaysArrivee()">
                                                            <option value="0">--Select--</option>
                                                            <option value= {{model.paysArrivee}} *ngIf="testPaysArrivee===false">{{model.paysArrivee}}</option>
                                                            <option *ngFor="let pay of pays" value= {{pay.idPays}} >{{pay.nom}}</option>                            
                                                        </select> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Aeroport Arrivée</label>
                                                        <br>
                                                        <select [(ngModel)]="model.aeroportArrivee"  name="aeroportArrivee"   #aeroportArrivee="ngModel" style="width: 200px; height: 30px;" (click)="changeAeroportArrivee()">
                                                            <option  value="0">--Select--</option>
                                                             <option value= {{model.aeroportArrivee}} *ngIf="testAeroportArrivee===false">{{model.aeroportArrivee}}</option>
                                                            <option *ngFor="let aeroport of aeroports2 " value= {{aeroport.nom}}>{{aeroport.nom}}</option>
                                                        </select> 
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                    </div>
                                    
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                    <button (click)="modifierAnnonceVol()" type="button" class="btn btn-success" data-dismiss="modal" >Modifier</button>
                                    </div>
                                </div>
                                
                                </div>
                            </div>   
    <!-- fin   modal -->
    <!-- Modal2 -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Suppression</h4>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer cette Annonce ?</p>
      </div>
      <div class="modal-footer">
        <button (click)="supprimerAnnonceVol()" type="button" class="btn btn-success" data-dismiss="modal" >Oui</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>
    </div>

  </div>
</div>

<pagination-controls class=" pull-right" (pageChange)="page = $event" id="1" maxSize="3" directionLinks="true" autoHide="true">
</pagination-controls>

<!-- ************************************************************************** -->
        </div>
		

    </div>
</div>
</div>
</div>


<!-- ******** Script Rotation Card ****** -->
	
</div>

