<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Covoiturage</h4>
                    <p class="category">Mes Annonces</p>
                </div>
                <div class="card-content">

                                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/user.png" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">IT </h6>
                    <h4 class="card-title">Cynapsys</h4>
                    <p class="card-content">
                        Your Enterprise
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">View More Information</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
