<div class="container" style="margin-top: 120px; margin-left: 200px;">
     <div style="width:700px;">
      <alert *ngIf="length === 0"></alert>    
    </div>
<div class="row" *ngFor="let reservation of reservations">
        <div class="col-sm-6">
            <div class="business-card">    
                <div class="media">
                    <div class="media-left">
                       <a [routerLink]="['/dashboardutil/publicProfile', reservation.annonceCovoi.utilisateur.idUtilisateur]"> <img class="media-object img-circle profile-img" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"></a>
                    </div>
            
                    <div class="media-body">
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-sm-4">
                                <h2 class="media-heading">{{reservation.annonceCovoi.utilisateur.nom}}</h2>
                                <div class="job">{{reservation.annonceCovoi.utilisateur.profession}}</div>
                            </div>
                            <div class="col-sm-4">	
                                <p><span class="glyphicon glyphicon-map-marker"></span> {{reservation.annonceCovoi.paysDepart}}, {{reservation.annonceCovoi.villeDepart}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><span class="glyphicon glyphicon-map-marker"></span> {{reservation.annonceCovoi.paysArrivee}}, {{reservation.annonceCovoi.villeArrivee}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>Date: {{reservation.annonceCovoi.dateDepart}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><span class="glyphicon glyphicon-time"></span> {{reservation.annonceCovoi.heureDepart}}</p>
                            </div>                      	
                        </div>
                        <div class="row" style="margin-left: 50px;">
                            <div class="col-sm-4" style="margin-left: 120px; padding-left: 40px;" > <p><span style="color: red" *ngIf="reservation.etat==false">En Attente</span><br><span style="color:orange" *ngIf="reservation.etat== null">Refusé</span><span style="color: green"  *ngIf="reservation.etat==true && reservation.confirmation==false">Accepté</span><span style="color: green"  *ngIf="reservation.confirmation==true">confirmé</span> </p> </div>
                            <div class="col-sm-4" style="margin-left: 50px;"> <button type="button" class="btn btn-danger pull-right" (click)="onClick(reservation)" data-toggle="modal" data-target="#myModal" >Annuler</button> </div>
                            <div class="col-sm-4" style="margin-left: 50px;"> <button  *ngIf="reservation.etat==true" type="button" class="btn btn-success pull-right" (click)="onClick(reservation)" (click)="confirmerReservation()">confirmer</button> </div>
                        </div>								
                    </div>     
                </div>
            </div>
        </div>
	</div>
    	    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Annuler Réservation</h4>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment annuler votre réservation ?</p>
      </div>
      <div class="modal-footer">
        <button (click)="annulerReservation()" type="button" class="btn btn-success" data-dismiss="modal" >Oui</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>
    </div>

  </div>
</div>

    


</div>