<!-- CSS Files Dashboard Utilisateur -->
<link href="/assets/css/material-dashboard-util.css" rel="stylesheet"/>
<div style=" background-color:lavender;">
<div class="main-content" style="margin-top: 70px; margin-left: 200px;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8"  style="padding-top: 70px;">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Ajout Annonce Covoiturage</h4>
                    <p class="category">Compléter L'Annonce</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Date Départ</label>
                                    <input type="text" class="form-control" name="dateDepart">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Heure Départ</label>
                                    <input type="text" class="form-control" name="heureDepart">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Pays Départ</label>
                                    <input type="text" class="form-control" name="dateDepart">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Ville Départ</label>
                                    <input type="text" class="form-control" name="heureDepart">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Pays Arrivéé</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Ville Arrivée</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nombre de PLaces </label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> Cotisation </label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                        </div>


                        <button type="submit" class="btn btn-danger pull-right">Publier Annonce</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>