<!-- CSS Files Dashboard Utilisateur -->
<div style=" background-color:lavender;">
<div class="main-content" style="margin-top: 70px; margin-left: 200px;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8"  style="padding-top: 70px;">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Ajout Annonce Covoiturage</h4>
                    <p class="category">Compléter L'Annonce</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Date Départ</label>
                                    <my-date-picker value="Date Depart"name="dateDepart" [options]="myDatePickerOptions" required></my-date-picker>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Heure Départ</label>
                                    <br>
                                    <label>Heure</label>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>Minute</label>
                                    <select>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Pays Départ</label>
                                    <br>
                                    <select>
                                        <option>France</option>
                                        <option>Tunisie</option>
                                        <option>Allemagne</option>
                                        <option>Espagne</option>
                                        <option>Luxembourg</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Ville Départ</label>
                                    <br>
                                    <select>
                                        <option></option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                         <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Pays Arrivée</label>
                                    <br>
                                    <select>
                                        <option>France</option>
                                        <option>Tunisie</option>
                                        <option>Allemagne</option>
                                        <option>Espagne</option>
                                        <option>Luxembourg</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Ville Arrivée</label>
                                    <br>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                         <hr>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nombre de Places </label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> Cotisation </label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-danger pull-right">Publier Annonce</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


