<!-- CSS Files Dashboard Utilisateur -->

<div style=" background-color:lavender;">
<div class="main-content" style="margin-top: 70px; margin-left: 200px;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8"  style="padding-top: 70px;">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Ajout Annonce Covoiturage</h4>
                    <p class="category">Compléter L'Annonce</p>
                </div>
                <div class="card-content">
                    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">   
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Date Départ</label>
                                    <my-date-picker [(ngModel)]="model.dateDepart" value="Date Depart"name="dateDepart" [options]="myDatePickerOptions" required></my-date-picker>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Heure Départ</label>
                                    <br>
                                    <label>Heure</label>
                                    <select class="selectpicker" [(ngModel)]="model.heure" (input)="onInputHeure($event)" name="heure"   #heure="ngModel" style="width: 50px; height: 30px;">
                                        <option value= "1">1</option>
                                        <option value= "2">2</option>
                                        <option value= "3">3</option>
                                        <option value= "4">4</option>
                                        <option value= "5">5</option>
                                        <option value= "6">6</option>
                                        <option value= "7">7</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>Minute</label>
                                    <select [(ngModel)]="model.minutes" (input)="onInputMinutes($event)" name="minutes"   #minutes="ngModel" style="width: 50px; height: 30px;">
                                        <option value= "00">00</option>
                                        <option value= "05">05</option>
                                        <option value= "10">10</option>
                                        <option value= "15">15</option>
                                        <option value= "20">20</option>
                                        <option value= "25">25</option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Pays Départ</label>
                                    <br>
                                    <select class="selectpicker" [(ngModel)]="model.paysDepart"  (change)="onSelect1($event.target.value)"  name="paysDepart"   #paysDepart="ngModel" style="width: 200px; height: 30px;">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Ville Départ</label>
                                    <br>
                                    <select [(ngModel)]="model.villeDepart" (input)="onInput($event)" name="villeDepart"   #villeDepart="ngModel" style="width: 200px; height: 30px;">
                                        <option value="0">Select Ville Depart</option>
                                        <option *ngFor="let city of cities " value= {{city.nom}}>{{city.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                         <hr>
                         
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Pays Arrivée</label>
                                    <br>
                                    <select [(ngModel)]="model.paysArrivee" (change)="onSelect2($event.target.value)"  name="paysDepart"   #paysDepart="ngModel" style="width: 200px; height: 30px;">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let pay of pays" value= {{pay.idPays}}>{{pay.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label>Ville Arrivée</label>
                                    <br>
                                    <select [(ngModel)]="model.villeArrivee" (input)="onInput2($event)" name="villeArrivee"   #villeArrivee="ngModel" style="width: 200px; height: 30px;">
                                        <option  value="0">--Select--</option>
                                        <option *ngFor="let city of cities2 " value= {{city.nom}}>{{city.nom}}</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                         <hr>

                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nombre de Places </label>
                                    <input type="text"  [(ngModel)]="model.nombrePlaces"  name="nombrePlaces"   #nombrePlaces="ngModel" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> Cotisation </label>
                                    <input type="text"  [(ngModel)]="model.cotisation"  name="cotisation"   #cotisation="ngModel" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           <h3>Min/Max</h3>
                                <p-spinner size="30"  [min]="0" [max]="100" [(ngModel)]="model.spin"  name="spin"   #spin="ngModel"  ></p-spinner>
                        </div>


                        <button type="submit" class="btn btn-danger pull-right">Publier Annonce</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>




