
    <!-- Page Content -->
    <div class="container" style="background-color: white; margin-top: 100px;">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8" style="margin-top: 35px;">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <!-- /.col-md-8 -->
        <div class="col-md-4" style="height: 150px;">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">{{utilisateur.login}}</h6>
                    <h4 class="card-title"> {{utilisateur.login}} </h4>
                    <p>23 Ans </p>
                    <p class="card-content">
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['/dashboardutil/publicProfile', utilisateur.idUtilisateur]">View More Profile</a>
                </div>
            </div>
        </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    
        <!-- /.row -->
                <!-- Content Row -->
        <div class="row " style="margin-top: 60px; margin-left: 20px;">
                <hr>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Départ </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p ><i class="material-icons" style="font-size:20px;">place</i> {{annonceCovoi.paysDepart}},{{annonceCovoi.villeDepart}} </p>
                </div>
                <!-- ************  -->
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Heure Départ </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p ><span class="glyphicon glyphicon-time" style="font-size:20px;"></span> &nbsp;&nbsp; {{annonceCovoi.heureDepart}} </p>
                </div>
                <!-- ************  -->
        </div>
        <!-- /.row -->
                        <!-- Content Row -->
        <div class="row " style="margin-top: 5px;margin-left: 20px;">

                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Arrivée </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p > <i class="material-icons" style="font-size:20px;">place</i> {{annonceCovoi.paysArrivee}}, {{annonceCovoi.villeArrivee}}  </p>
                </div>
                <!-- ************  -->
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid red;
                         padding: 10px 10px 10px 50px; ">
                        <p> Date Départ  </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p ><span class="glyphicon glyphicon-calendar" style="font-size:20px;"></span> &nbsp; {{annonceCovoi.dateDepart}}  </p>
                </div>
                <!-- ************  -->
        </div>
        <!-- /.row -->
                        <!-- Content Row -->
        <div class="row " style="margin-top: 15px; margin-left: 20px;">
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid dodgerblue;
                         padding: 10px 10px 10px 50px; height: 70px;">
                        <p> Préférences   </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 0px;">
                    
                                            <button *ngIf="preferences.fumeur==false" class="no-smoke" type="button" rel="tooltip" title="La cigarette me dérange." class="btn btn-danger btn-simple btn-sm">
                 <img class="img" src="../assets/img/preferences/smoking-no.png" />
                </button>
                                            <button *ngIf="preferences.fumeur==true" type="button" rel="tooltip" title="La cigarette ne me dérange pas." class="btn btn-success btn-simple btn-sm">
                    <img class="img" src="../assets/img/preferences/smoking-yes.png" />
                </button>
                                            <button *ngIf="preferences.musique==false" class="no-smoke" type="button" rel="tooltip" title="Je n'écoute pas de musique en voiture"
                                                class="btn btn-danger btn-simple btn-sm">
                 <img class="img" src="../assets/img/preferences/music-no.png" />
                </button>
                                            <button *ngIf="preferences.musique==true" type="button" rel="tooltip" title="J'aime bien écouter de la musique" class="btn btn-success btn-simple btn-sm">
                    <img class="img" src="../assets/img/preferences/music-yes.png" />
                </button>

                                            <button *ngIf="preferences.animaux==false"  class="no-smoke" type="button" rel="tooltip" title="Je ne veux pas voyager avec un animal."
                                                class="btn btn-danger btn-simple btn-sm">
                 <img class="img" src="../assets/img/preferences/pet-no.png" />
                </button>
                                            <button *ngIf="preferences.animaux==true"  type="button" rel="tooltip" title="Je n'ai rien contre les animaux."
                                                class="btn btn-success btn-simple btn-sm">
                    <img class="img" src="../assets/img/preferences/pet-yes.png" />
                </button>

                                      
                </div>
                <!-- ************  -->

        </div>
        <!-- /.row -->
                        <!-- Content Row -->
        <div class="row " style="margin-top: 5px; margin-left: 20px;">
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" 
                style="background-color: lavender; border-left: 6px solid dodgerblue;
                         padding: 10px 10px 10px 50px; ">
                        <p> Voiture  </p>
                </div>
                <!-- ************ -->
                <div class="col-xs-6 col-sm-3" style="padding: 10px 10px 10px 50px;">
                        <p > <i class="material-icons" style="font-size:30px;">directions_car</i> &nbsp; &nbsp; {{voiture.marque}}, {{voiture.modele}} </p>
                </div>
                <!-- ************  -->
        </div>
        <!-- /.row -->
                        <!-- Content Row -->

                        <!-- Content Row -->
        <div class="row " style="margin-top: 5px; margin-left: 20px;">
                <!-- ************ -->
            <div class="text-center" *ngIf="currentUserId!=utilisateur.idUtilisateur">
                            <alert></alert>
		<button class="btn btn-round " style="background-color:dodgerblue"><span class="glyphicon glyphicon-envelope"></span> Contacter Conducteur</button>
                <button [disabled]="reserved==false"class="btn btn-round" style="background-color:dodgerblue" data-toggle="modal" data-target="#myModalReservation" > Réserver </button>

<!-- Modal -->
<div id="myModalReservation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Réservation</h4>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment réserver ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-round"  data-dismiss="modal">Annuler</button>
        <button (click)="reserver()" type="button" class="btn btn-success btn-round" data-dismiss="modal">Confirmer</button>
      </div>
    </div>

  </div>
</div>

            </div>
        <div class="text-center" *ngIf="">
		<button class="btn btn-round " style="background-color:dodgerblue">Modifier</button>
                <button class="btn btn-round" style="background-color:dodgerblue" > Supprimer </button>
            </div>
                <!-- ************  -->
        </div>
        <!-- /.row -->




    </div>
