<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="main-content" style="padding-top: 7%">
    <div class="container-fluid">

        <div class="col-lg-8 col-sm-6">
            <div class="card hovercard">
                <div class="card-background">
                </div>
                <div class="useravatar">
                    <img alt="" src="{{image}}">
                </div>
                <br><br><br><br><br><br><br><br>
                <div class="card-info">
                    <span class="card-title">
                        
                        <strong>{{prenom}} {{nom}}</strong><br><br>
                        {{description}}
                        </span>
                </div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-info" href="#tab1" data-toggle="tab">
                <div class="hidden-xs">Informations personnelles</div>
            </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="avis" class="btn btn-white" href="#tab2" data-toggle="tab">
                <div class="hidden-xs">Avis</div>
            </button>
                </div>
            </div>

            <div class="well" style="background-color: white">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">



                        <table class="table" style="margin-top: 3%">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5><strong>Nom</strong></h5>
                                    </td>

                                    <td>
                                        <h5> {{nom}}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><strong>Prenom</strong></h5>
                                    </td>

                                    <td>
                                        <h5>{{prenom}}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><strong>Email</strong></h5>
                                    </td>

                                    <td>
                                        <h5>{{mail}}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><strong>Date de naissance</strong></h5>
                                    </td>

                                    <td>
                                        <h5>{{dateN}}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><strong>Numero de telephone</strong></h5>
                                    </td>

                                    <td>
                                        <h5>{{nTel}}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><strong>Profession</strong></h5>
                                    </td>

                                    <td>
                                        <h5>{{profession}}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><strong>Preferences</strong></h5>
                                    </td>

                                    <td>
                                        <h5>
                                            <button *ngIf="fumeur==false" class="no-smoke" type="button" rel="tooltip" title="La cigarette me dérange." class="btn btn-danger btn-simple btn-sm">
                 <img class="img" src="../assets/img/preferences/smoking-no.png" />
                </button>
                                            <button *ngIf="fumeur==true" type="button" rel="tooltip" title="La cigarette ne me dérange pas." class="btn btn-success btn-simple btn-sm">
                    <img class="img" src="../assets/img/preferences/smoking-yes.png" />
                </button>
                                            <button *ngIf="musique==false" class="no-smoke" type="button" rel="tooltip" title="Je n'écoute pas de musique en voiture"
                                                class="btn btn-danger btn-simple btn-sm">
                 <img class="img" src="../assets/img/preferences/music-no.png" />
                </button>
                                            <button *ngIf="musique==true" type="button" rel="tooltip" title="J'aime bien écouter de la musique" class="btn btn-success btn-simple btn-sm">
                    <img class="img" src="../assets/img/preferences/music-yes.png" />
                </button>

                                            <button *ngIf="animaux==false" (click)="modifierAnimalFalse()" class="no-smoke" type="button" rel="tooltip" title="Je ne veux pas voyager avec un animal."
                                                class="btn btn-danger btn-simple btn-sm">
                 <img class="img" src="../assets/img/preferences/pet-no.png" />
                </button>
                                            <button *ngIf="animaux==true" (click)="modifierAnimalTrue()" type="button" rel="tooltip" title="Je n'ai rien contre les animaux."
                                                class="btn btn-success btn-simple btn-sm">
                    <img class="img" src="../assets/img/preferences/pet-yes.png" />
                </button>

                                        </h5>
                                    </td>
                                </tr>

                            </tbody>
                        </table>





                    </div>
                    <div class="tab-pane fade in" id="tab2" style="padding-top: 5%">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Add a comment" type="text">
                                    <span class="input-group-addon">
                                     <button class="material-button option2" type="button">
                                         <span class="fa fa-envelope-o" ></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="padding-top: 3%">

                            <div class="row" *ngFor="let a of avis">
                                <div class="col-sm-8">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="{{imageavis}}" class="img-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>{{a.author.nom}} {{a.author.prenom}}</b></a>
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>{{a.text}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>



        <div class="col-md-4">
            <div class="card" style=" background-color: white">
                <img src="{{imageVoiture}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"></h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Marque</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{marque}}</li>
                    <li class="list-group-item"><strong>Modele</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{modele}}</li>
                    <li class="list-group-item"><strong> Energie</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{energie}}</li>
                    <li class="list-group-item"><strong>Nombre de place</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nbPlace}}</li>
                </ul>

            </div>

        </div>



    </div>

</div>